{{#if user}}
  <ul class="nav">
    {{#each comments}}
      <div>{{message}}</div>
    {{/each}}

    <form method='get' action='/comments/new'>
      <div class="form-group">
        <label>Message</label>
        <textarea type="text" class="form-control" placeholder="message" name="message">
        </textarea>
      </div>

      <input type="hidden" name="userId" value={{user.id}} />
      <input type="hidden" name="articleId" value={{articleId}} />
      <button type="submit" class="btn btn-info pull-right">Add a comment</button>
    </form>

  </ul>
{{/if}}
