<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard!</p>

<form method='get' action='/articles/new'>
  <input type="hidden" name="userId" value={{user.id}} />
  <button type="submit" class="btn btn-info">Create New Article</button>
</form>
