<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{article.title}}</h3>
  </div>
  <div class="panel-body">
    {{article.content}}
  </div>

  {{#if "(user._id === article.userId)"}}
    <li role="presentation"><a href="/articles/{{article._id}}/edit">Edit Article</a></li>
  {{/if}}
  <div></div>
</div>

<li role="presentation"><a href="/articles">Back</a></li>
Created by {{user.username}}